.container-404 {
    display: flex;
    /* flex: 1; */
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 100px;
}

.container-404 .title {
    font-size: 40px;
    font-family: "BowlbyOne";
    margin: 15px;
}

.container-404 .content {
    font-size: 25px;
    font-family: "arial";
    margin: 15px;
}

.container-404 .button-link {
    font-size: 22px;
    font-family: "arial";
    text-decoration: none;
    color: #ffffff;
    margin: 15px;
    width: 200px;
    height: 70px;
    background-color: #3d94ff;
    border-radius: 25px;
    border-color: color(a98-rgb 1 1 1 / 0);
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-404 .button-link:hover {
    filter: brightness(90%);
}
