footer {
    /* background: color(a98-rgb 0.08 0.08 0.1) 0%; */
    background: linear-gradient(
        to right,
        color(a98-rgb 0.08 0.08 0.1) 0%,
        color(a98-rgb 0.08 0.08 0.1) 50%
    );
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid color(a98-rgb 1 1 1 / 0.05);
}

footer .row {
    display: flex;
    flex-wrap: wrap-reverse;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
}

/* @media (max-width: 750px) {
    footer .row {
        justify-content: center;
        padding-inline: 10px;
    }
} */

footer .row1 {
    font-size: 5px;
    font-family: "Arial";
    text-decoration: solid;
    text-transform: uppercase;
    color: color(a98-rgb 1 1 1 / 0.5);
}

footer .row2 {
    margin: 0px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

footer .row2 > a {
    margin: 5px;
    font-family: "Bow";
    font-size: 15px;
    letter-spacing: 1px;
    padding-inline: 5px;
    text-decoration: solid;
    text-transform: uppercase;
    color: color(a98-rgb 1 1 1 / 0.4);
}

footer .row2 > a:hover {
    color: color(a98-rgb 1 1 1 / 0.8);
    transform: scale(1.04);
    transition: transform 0.1s ease;
    transform-origin: 50% 50%;
}

/* footer .row3 {
    font-size: 7px;
    color: color(a98-rgb 1 1 1 / 0.8);
} */
