@font-face {
    font-family: "Acme";
    src: url("/public/fonts/Acme.woff2") format("woff2"),
        url("/public/fonts/Acme.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "BowlbyOne";
    src: url("/public/fonts/BowlbyOne.woff2") format("woff2"),
        url("/public/fonts/BowlbyOne.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    padding-top: 70px;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* animation: pointer 2s; */
}

/* @keyframes pointer {
    from {
        pointer-events: none;
    }
    to {
        pointer-events: auto;
    }
} */
