@font-face {
    font-family: "Acme";
    src: url("/public/fonts/Acme.woff") format("woff");
    font-display: swap;
}

@font-face {
    font-family: "Bow";
    src: url("/public/fonts/BowlbyOne.ttf") format("truetype");
    font-display: swap;
}

body {
    margin: 0;
    position: relative;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(
        color(a98-rgb 0.43 0.76 1) 0%,
        color(a98-rgb 1 1 1) 50%,
        color(a98-rgb 1 1 1) 87%
    );
}

.body-main {
    margin: inherit;
    position: inherit;
    display: inherit;
    min-height: inherit;
    flex-direction: inherit;
    /* animation: pointer 2s; */
}

/* @keyframes pointer {
    from {
        pointer-events: none;
    }
    to {
        pointer-events: auto;
    }
} */
